@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-inter);
    @apply antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-outfit);
  }
}
